<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Password generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Log in</h1>
       <div class="warning">
        <p><strong>Warning:</strong> This project is only a preview. Do not enter real data, as passwords are visible.</p>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required value="Test"/>
        </div>

        <div class="form-group">
          <label for="length">Password:</label>
          <input type="password" id="password" name="password" required value="Test123!"/>
        </div>

        <button type="submit" class="btn">Log in</button>
      </form>

      <div class="nav-links">
        <a href="{{ url_for('register') }}"
          >Register if you don't have an account</a
        >
      </div>
    </div>
  </body>
</html>
